@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@200;400;600;900&display=swap');

:root{
  --font-title: 'Lobster', sans-serif;
  --font-family: 'Poppins', sans-serif;

  --color-bg: #e8f9fb;
  --color-text: #ffc400;
  --color-subtext: #ecfcff;
  
}